@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@300;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    min-height: calc(100vh - 6rem);

}

.container{
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

nav .logo{
    font-size: 2rem;
    font-weight: 700;
    padding-right: 25rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}


nav li a{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

.main-content {
    margin:  auto 10rem;
    font-size: 1.5rem;
} 

.main-content h1 {
    color: #00c2ff;
    margin-bottom: 0;
}

.btn{
    background-color: #00c2ff;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong {
    color: #00c2ff;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .main-content {
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }
nav{
    overflow: hidden;
}
    nav ul {
        /* flex-direction: column; */
        display: none;
    }

    nav li:not(:last-child) {
        margin-bottom: 1rem;

    }

    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    footer li {
        margin: 1rem;
        text-align: center;
    }
}