@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(bg.png);
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 1em;
  width: 1000px;
  max-width: 100%;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}
._logo {
  color: #026e78;
}

.logo .contact {
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

nav li {
  list-style-type: none;
}

nav a {
  color: #fff;
  background-color: #2d99a4;
  padding: 1em 3.5em;
}

nav .active {
  color: #026e78;
  padding: 1em 3.5em;
  background-color: #fff;
}

nav .highlight {
  background-color: #0e727b;
  padding: 1em 3.5em;
}

.content {
  margin: 10rem 7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .title {
  padding: 0.15em 0.5em 0.15em 0.2em;
  font-size: 3em;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  background-color: #0e727b;
}

.content .book-table {
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  color: #0e727b;
  font-weight: 300;
  background-color: #fff;
}

.content .btn {
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.5em;
  font-size: 2em;
  color: #fff;
  font-weight: 300;
  background-color: #2d99a4;
}
