@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Great+Vibes&family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0ede8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.title {
  font-family: "Great Vibes", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links i {
  background-color: #24252a;
  font-size: 1rem;
  color: #f0ede8;
  margin-left: 35px;
  padding: 10px 10px;
  border-radius: 50%;
}

.main_sec {
  display: flex;
  justify-content: space-between;
}

.main_sec h1 {
  padding: 15px 0 0 170px;
  font-size: 85px;
  text-align: right;
}

.main_sec .arrow {
  height: 150px;
  margin-top: 150px;
  padding: 0 0 0 0;
  transform: rotate(15deg);
}

.main_sec .main_info {
  display: inline-flex;
  place-items: center;
  font-size: 15px;
}
.main_sec .main_info p {
  padding: 15px 85px 0 0;
}

.review {
  padding: 0 0 50px 150px;
}
p {
  padding: 0 0 0px 150px;
}

.nat1 {
  padding: 15px 80px 0 0;
  font-size: 45px;
  text-align: right;
}
.person1 {
  float: right;
  margin-top: -150px;
  padding: 0 250px 0 0;
}

.shop {
  display: flex;
  justify-content: end;
}
.shopnow {
  margin: 0 -600px 0 0;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f65608;
  border: none;
  box-shadow: 8px 8px #24252a;
}
